.shopping-cart {
  width: 100%;
  table {
    overflow-wrap: break-word;
  }

  table,
  th,
  td {
    text-align: left;
    border: 1px solid;
    border-color: darkgoldenrod;
    padding: 20px;
  }

  img {
    margin: 2%;
    width: 150px;
    height: auto;
  }
}
.cart-container {
  padding: 5%;
}

.row {
  align-content: center;
  button {
    width: 25%;
  }
}
